.time_set
  .hours
    %span.title
      Hr
    %span.hour
      8
  .description
    = "Something bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla".truncate(45)