.time_set
  = hidden_field_tag :time_set_hour_id, hour.id, :class => 'time_set_hour_id'
  .hours
    %span.title
      Hr
    %span.hour
      = hour.total_hours
  .description
    = hour.tasks_description.truncate(45)