<Worksheet ss:Name="<%= worksheet.full_name %>">
  <Table>
    <Row>
      <Cell><Data ss:Type="String">Date</Data></Cell>
      <Cell><Data ss:Type="String">Client</Data></Cell>
      <Cell><Data ss:Type="String">Project</Data></Cell>
      <Cell><Data ss:Type="String">Hours</Data></Cell>
      <Cell><Data ss:Type="String">Description</Data></Cell>
    </Row>
  
    <% hours = get_invoice_hours(worksheet).group_by(&:project) %>
    <% hours.each do |project, hours| %>
      <%= render partial: 'row', collection: hours %>
    <% end %>
  </Table>
</Worksheet>