= link_to 'Download PDF', pdf_admin_reports_path(project_id: @project.id, start_date: @start_date.strftime('%d/%m/%Y'), end_date: @end_date.strftime('%d/%m/%Y'), format: :pdf), target: '_blank' if params[:action] == 'generate_report'
- @report.each do |user, hours|
  = render partial: 'data_table.html.haml', locals: { hours: hours, user: user }