/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require colorpicker
 *= require_tree .
 */

li#admin-menu {
  width: 100px;
  background-color: #333;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

li#admin-menu div {
  padding-bottom: 10px;
}

li#admin-menu .title {
  text-align: right;
  margin-right: 10px;
}

li#admin-menu ul.submenu {
  margin-top: 30px;
  display: none;
}

li#admin-menu:hover ul.submenu {
  display: block;
}

li#admin-menu ul.submenu li {
  float: none;
}

li#admin-menu ul.submenu li a:hover {
  color: #999;
}

.clear {
  clear: both;
}

.clear_left {
  clear: left;
}
